/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-background: #f9f9f9;
		--color-accent: #8d0000;
		--color-off-contrast: #bfbfbf;
		--color-contrast: #2b2a2a;
		--color-off: #ececec;
	}

	body {
		@apply bg-skin-background text-skin-contrast;
	}
}
