/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--accent-100: #bf0000;
		--accent-200: #e46d6d;
		--accent-300: #ffc1c1;

		--neutral-000: #141414;
		--neutral-100: #1d1d1d;
		--neutral-200: #333333;
		--neutral-300: #5b5959;
		--neutral-400: #7a7474;
		--neutral-500: #aaa1a1;
		--neutral-600: #cac3c3;
		--neutral-700: #ececec;
		--neutral-800: #f3f2f2;
		--neutral-900: #f9f9f9;

		--color-background: var(--neutral-800);
		--color-text: var(--neutral-200);
		--color-text-highlight: var(--neutral-100);
		--color-off-background: var(--neutral-900);
		--color-accent: var(--accent-100);
		--color-off-contrast: var(--neutral-600);
		--color-contrast: var(--neutral-200);
		--color-off: var(--neutral-800);
	}

	.dark {
		--color-background: var(--neutral-100);
		--color-text: var(--neutral-500);
		--color-text-highlight: var(--neutral-700);
		--color-off-background: var(--neutral-200);
		--color-accent: var(--accent-100);
		--color-off-contrast: var(--neutral-500);
		--color-contrast: var(--neutral-800);
		--color-off: var(--neutral-800);
	}

	body {
		@apply bg-skin-background text-skin-text;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold text-skin-text-highlight;
	}
}
